{% extends "SiteTrailBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - News{% endblock %}

{% block body %}
	<div class="container">
		<h1>News</h1>
		<div class="content">
			{% for new in news %}
				<a href="{{path('site_trail_article', {'slug': new.alias })}}" class="h3">{{ new.titre }}</a>
				<div class="panel panel-default">
				  <div class="panel-body">
					<p>{{ new.texte }}</p>
					<a href="{{path('site_trail_article', {'slug': new.alias })}}" class="pull-right">Voir la suite</a>
				  </div>
				</div>
				<p class="text-right colored">
					{{ new.auteur.prenom }} {{ new.auteur.nom }} <br>
					{{ new.date|date("d/m/Y")  }}
				</p>
			{% endfor %}
		</div>
	</div>
{% endblock %}