{% extends "SiteTrailBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - News{% endblock %}

{% block body %}
	<div class="container">
		<h1>News</h1>
		
		<div class="text-right">
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {%if is_granted('ROLE_Administrateur')%}
				<a href="{{ path('site_trail_news_list') }}" class="btn btn-primary">Administrer</a>
			{%endif%}
		{%endif%}
		</div>
		
		<div class="content">
			{% for new in news %}
				<a href="{{path('site_trail_article', {'slug': new.alias })}}" class="h3">{{ new.titre }}</a>
				{% if img[new.id] is defined %}
					<div class="row">
						<div id="picture" class="img-responsive col-xs-12 col-sm-4 move-bottom-xs article-img move-top-sm" style="background-image: url('{{ img[new.id] }}');"></div>
					</div>
				{% endif %}
				<div class="panel panel-default">
				  <div class="panel-body">
					<p>{{ new.texte|slice(0, 250) }}...</p>
					<a href="{{path('site_trail_article', {'slug': new.alias })}}" class="pull-right">Voir la suite</a>
				  </div>
				</div>
				<p class="text-right colored">
					{{ new.auteur.prenom }} {{ new.auteur.nom }} <br>
					{{ new.date|date("d/m/Y")  }}
				</p>
			{% endfor %}
		</div>
	</div>
{% endblock %}