{% extends "SiteTrailBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Categorie{% endblock %}

{% block body %}
	<div class="container">
            <div class="col-sm-12">
                {% if (categorie is defined) %}
                    <h1>{{categorie.getLabel()}}
                        {% if (app.user.getRole().getId() == 1) %}
                            <button id="supprCategorie" type="button" class='btn btn-warning pull-right' onclick="supprCategorieConfirm()">Supprimer la catégorie</button>
                            <button id="modifCategorie" type="button" class='btn btn-warning pull-right' onclick="modifCategorie({{categorie.getId()}})">Modifier la catégorie</button>
                        {% endif %}
                    </h1>
                {% endif %}
            </div>
            <div class="row">
                {% for image in listeImage %}
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail">
                          <a href="{{path('site_trail_picture')}}"><img class="apercu" src="{{image.getPath()}}" alt="Smiley face"></a>
                          <div class="caption">
                                <a class="h4" href="{{path('site_trail_picture')}}">{{image.getTitre()}}</a>
                                <p>{{image.getDescription()}}</p>
                          </div>
                        </div>
                  </div>
                {% endfor %}                                
            </div>	
            <div class="text-center">
              <ul class="pagination">
                    <li>
                      <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                      <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
              </ul>
            </div>
            <div id="modalAvertissement" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">      
                        <div class="modal-body text-center">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <p>Etes-vous sûr de vouloir supprimer cette catégorie ?</p>
                            <div class='wrapper text-center'>
                                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="suppressionCategorie({{categorie.getId()}})">Oui</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" >Non</button>
                            </div>
                        </div>
                    </div>
                </div>       
            </div>
	</div>
                
    {% javascripts '@SiteTrailBundle/Resources/js/*' '@SiteTrailBundle/Resources/js/gallery/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}