{% extends "SiteTrailBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Categorie{% endblock %}

{% block body %}
	<div class="container">
            <div class="col-sm-12">
                {% if (categorie is defined) %}
                    <h1>{{categorie.getLabel()}}
                    <div class="col-lg-12">
                        <a href="{{ path('site_trail_gallery') }}" class='btn btn-warning pull-left' title="Retour vers la galerie" ><<</a>
                        {% if (app.user.getRole().getId() == 1) %}
                            <button id="supprCategorie" type="button" class='btn btn-warning pull-right' onclick="supprCategorieConfirm()">Supprimer la catégorie</button>
                            <button id="modifCategorie" type="button" class='btn btn-warning pull-right' onclick="modifCategorie({{categorie.getId()}})">Modifier la catégorie</button>
                        {% endif %}
                    </div> 
                    </h1>
                {% endif %}
            </div>
            <div class="row">
                {% for image in listeImage %}
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail">
                          <a href="{{path('site_trail_picture')}}/{{image.getId()}}"><img class="apercu" src="{{image.getPath()}}" alt="Smiley face"></a>
                          <div class="caption">
                                <a class="h4" href="{{path('site_trail_picture')}}/{{image.getId()}}">{{image.getTitre()}}</a>
                                <p>{{image.getDescription()}}</p>
                          </div>
                        </div>
                  </div>
                {% endfor %}                                
            </div>            
            
            {% if nbImage > 12 %}
                <div class="text-center">
                    <ul class="pagination">
                        {% if numPage > 1 %}
                            <li>
                                <a href="{{ path('site_trail_category', {'idCategorie': categorie.getId(), 'indStart': ((numPage-1)*12)-12}) }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %} 
                        {% for i in 1..(nbImage/13)+1 %}                          
                            <li><a href="{{ path('site_trail_category', {'idCategorie': categorie.getId(), 'indStart': (i*12)-12}) }}">{{ i }}</a></li>   
                        {% endfor %}
                        {% if numPage < ((nbImage/13)+1)|round(0, 'floor') %}
                            <li>
                                <a href="{{ path('site_trail_category', {'idCategorie': categorie.getId(), 'indStart': ((numPage+1)*12)-12}) }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %} 
                  </ul>
                </div>
            {% endif %}
            
            <div id="modalAvertissement" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">      
                        <div class="modal-body text-center">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <p>Etes-vous sûr de vouloir supprimer cette catégorie ?</p>
                            <div class='wrapper text-center'>
                                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="suppressionCategorie({{categorie.getId()}})">Oui</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" >Non</button>
                            </div>
                        </div>
                    </div>
                </div>       
            </div>
	</div>
                
    {% javascripts '@SiteTrailBundle/Resources/js/*' '@SiteTrailBundle/Resources/js/gallery/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}