<div id="modalAddCategorieForm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Ajouter une catégorie</h4>
            </div>
            <div class="modal-body">
                {{ form_start(form, {'attr': {'id': 'ajouterCategorie', 'onSubmit': 'envoiFormAjout(); return false;'}}) }}
                {{ form_errors(form) }}

                <!-- Champ label -->
                <div class="form-group">
                    <div class="row">
                        {{ form_label(form.label, "Label : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(form.label) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.label, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Ajouter" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

{% javascripts '@SiteTrailBundle/Resources/js/*' '@SiteTrailBundle/Resources/js/gallery/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
