{% extends "SiteTrailBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Galerie{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-sm-12">
            <h1>Galerie
                {% if (app.user.getRole().getId() == 1) %}
                    <button id="addCategorie" type="button" class='btn btn-warning pull-right'>Ajouter une catégorie</button>
                {% endif %}
                <button id="addPicture" type="button" class='btn btn-warning pull-right'>Ajouter une image</button>
            </h1>
	</div>
            
        {% for indice,categorie in listeCategorie %}
            <div class="category col-sm-12">
                <a class="h3" href="{{ path('site_trail_category', {'idCategorie': categorie.getId()}) }}">{{categorie.getLabel()}}</a>
                <div class="row move-bottom-xs">
                    {% for image in listeImage[indice] %}
                        <div class="col-md-3 col-sm-6">
                            <div class="thumbnail">
                                <a href="{{path('site_trail_picture')}}"><img class="apercu" src="http://130.79.214.167/{{image.getPath()}}" alt="-_-"></a>
                                <div class="caption">
                                    <a class="h4" href="{{path('site_trail_picture')}}">{{image.getTitre()}}</a>
                                    <p>{{image.getDescription()}}</p>
                                </div>
                            </div>
                        </div> 
                    {% endfor %}
                </div>
                <a class="colored pull-right" href="{{ path('site_trail_category', {'idCategorie': categorie.getId()}) }}">Voir {{categorie.getLabel()}}</a>
            </div>
        {% endfor %}

        <div class="text-center">
          <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
          </ul>
        </div>
    </div>
        
    {% javascripts '@SiteTrailBundle/Resources/js/*' '@SiteTrailBundle/Resources/js/gallery/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}