{% extends "SiteTrailBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Galerie{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-sm-12">
            <h1>Galerie
                {% if (app.user.getRole().getId() == 1) %}
                    <button id="addCategorie" type="button" class='btn btn-warning pull-right'>Ajouter une catégorie</button>
                {% endif %}
                <button id="addPicture" type="button" class='btn btn-warning pull-right'>Ajouter une image</button>
            </h1>
	</div>
            
        {% for indice,categorie in listeCategorie %}
            <div class="category col-sm-12">
                <a class="h3" href="{{ path('site_trail_category', {'idCategorie': categorie.getId()}) }}">{{categorie.getLabel()}}</a>
                <div class="row move-bottom-xs">
                    {% for image in listeImage[indice] %}
                        <div class="col-md-3 col-sm-6">
                            <div class="thumbnail">
                                <a href="{{path('site_trail_picture')}}/{{image.getId()}}"><img class="apercu" src="{{image.getPath()}}" alt="-_-"></a>
                                <div class="caption">
                                    <a class="h4" href="{{path('site_trail_picture')}}/{{image.getId()}}">{{image.getTitre()}}</a>
                                    <p>{{image.getDescription()}}</p>
                                </div>
                            </div>
                        </div> 
                    {% endfor %}
                </div>
                <a class="colored pull-right" href="{{ path('site_trail_category', {'idCategorie': categorie.getId()}) }}">Voir {{categorie.getLabel()}}</a>
            </div>
        {% endfor %}
        
        {% if nbCategorie > 5 %}
            <div class="text-center">
                <ul class="pagination">
                    {% if numPage > 1 %}
                        <li>
                            <a href="{{ path('site_trail_gallery', {'indStart': ((numPage-1)*5)-5}) }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %} 
                    {% for i in 1..(nbCategorie/6)+1 %}                          
                        <li><a href="{{ path('site_trail_gallery', {'indStart': (i*5)-5}) }}">{{ i }}</a></li>   
                    {% endfor %}
                    {% if numPage < ((nbCategorie/6)+1)|round(0, 'floor') %}
                        <li>
                            <a href="{{ path('site_trail_gallery', {'indStart': ((numPage+1)*5)-5}) }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %} 
              </ul>
            </div>
        {% endif %}
    </div>
        
    {% javascripts '@SiteTrailBundle/Resources/js/*' '@SiteTrailBundle/Resources/js/gallery/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}