{% extends "SiteTrailBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Fiche d'itinéraire{% endblock %}

{% block body %}
    <div id="tetest">
    {% if app.user %}
        <table class="table">
            <thead>
            <th>Nom</th>
            <th>Numéro</th>
            <th>Longueur</th>
            <th>Dénivelé positif</th>
            <th>Dénivelé négatif</th>
            <th>Difficulté</th>
            <th>Type de chemin</th>
            <th>Status</th>
            <th>Auteur</th>
            <th>Date de création</th>
            <th>Description</th>
            <th>Visibilité</th>
            <th>Ma note</th>
            <th>Note moyenne</th>
                {% if app.user.id == resultats.searchResults.auteur.id %}
                <th>Modifier</th>			
                {% endif %}    
        </thead>
        <tbody>
            <tr>
                <td><span id="nom">{{resultats.searchResults.nom}}</span></td>

                <td><span id="numero">{{resultats.searchResults.numero}}</span></td>

                <td><span id="longueur">{{resultats.searchResults.longueur}} km</span></td>

                <td><span id="denivelep">{{resultats.searchResults.deniveleplus}} m</span></td>

                <td><span id="denivelen">{{resultats.searchResults.denivelemoins}} m</span></td>

                <td><span id="difficulte" value="{{resultats.searchResults.difficulte.id}}">{{resultats.searchResults.difficulte.label}}</span></td>

                <td><span id="typechemin" value="{{resultats.searchResults.typechemin.id}}">{{resultats.searchResults.typechemin.label}}</span></td>

                <td><span id="status" value="{{resultats.searchResults.status.id}}">{{resultats.searchResults.status.label}}</span></td>                           

                <td><span id="auteur">{{resultats.searchResults.auteur.email}}</span></td>                           

                <td><span id="datecreation">{{resultats.searchResults.datecreation}}</span></td>                           

                <td><span id="description">{{resultats.searchResults.description}}</span></td> 

                <td>
                    <span id="public" value="{{resultats.searchResults.description}}">
                        {% if resultats.searchResults.public == 0 %}
                            Privé
                        {% else %}
                            Publique
                        {% endif %}
                    </span>
                </td>
            {% if userNotes[0] is defined and userNotes[0] is not empty %}
                <td><a style="cursor:pointer" onclick="noterIti({{resultats.searchResults.id}})">{{userNotes[0]}}</a></td>
            {% else %}
                <td><a style="cursor:pointer" onclick="noterIti({{resultats.searchResults.id}})">/</a></td>
            {% endif %}
            {% if itiMoyenne[0] is defined and itiMoyenne[0] > -1 %}
                <td>{{itiMoyenne[0]}}</td>
            {% else %}
                <td>/</td>
            {% endif %}
                {% if app.user.id == resultats.searchResults.auteur.id %}
                    <td>
                        <p data-placement='top' data-toggle='tooltip' title='Edit'>
                            <button class='btn btn-primary btn-xs btn_edit' id="edit" disabled><span class='glyphicon glyphicon-pencil'></span></button>
                        </p>
                    </td>
                {% endif %}                          
            </tr>
        </tbody>
    </table>
    <div class="text-center row">
        {#<p class="text-center" data-placement='top' data-toggle='tooltip' title='GPX'>#}
            <a href="{{ app.request.getSchemeAndHttpHost() }}/Carto/web/app_dev.php/download/gpx/{{resultats.searchResults.id}}" class='btn btn-success btn_edit'><span class='glyphicon glyphicon-download'></span> Télécharger l'itinéraire au format GPX</a>
        {#</p>#}
    </div>

           
    
    <div class="modal fade" id="update">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Mise à jour de l'itinéraire</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Nom :</label>
                            <input type="text" class="form-control" id="editnom">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Numéro :</label>
                            <input type="number" class="form-control" id="editnumero">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Description :</label>
                            <textarea class="form-control" id="editdescription"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Difficulté:</label>
                            <select id="editdifficulte"></select>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Status :</label>
                            <select id="editstatus"></select>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Type de chemin :</label>
                            <select id="edittypechemin"></select>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Visibilité :</label>
                            <select id="editpublic">
                                <option value="0">Privé</option>
                                <option value="1">Publique</option>
                            </select>
                        </div>        
                        
                        <div class="form-group">
                            <label class="control-label">Evenement :</label>
                            <select id="editevenement" name="editevenement[]" multiple>
                                {% for eventCategorie in listEvent %}
                                    {% for event in eventCategorie %}
                                        {% if event in usedEvent %}
                                            <option value='{{event.getEvenement().getId()}}' selected="selected">{{event.getEvenement().getTitre()}} ({{event.getEvenement().getDateDebut()|date('d/m/Y', false)}})</option>
                                        {% else %}
                                            <option value='{{event.getEvenement().getId()}}'>{{event.getEvenement().getTitre()}} ({{event.getEvenement().getDateDebut()|date('d/m/Y', false)}})</option>
                                        {% endif %}    
                                    {% endfor %}
                                {% endfor %}
                            </select>
                        </div>                
                        {% if app.user %}
                            <input type="hidden" class="form-control" id="iditi" value={{resultats.searchResults.id}}>
                        {% endif %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary" id="updateiti">Mise à jour</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <iframe class="map-iframe" 
            name="mapframe"
            frameborder="0" 
            src="{{ app.request.getSchemeAndHttpHost() }}/Carto/web/app_dev.php/itineraire_load/{{resultats.searchResults.id}}" 
            id="mapframe"></iframe>
    </div>
    {% javascripts '@SiteTrailBundle/Resources/js/itineraire/*'  %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>

        $(window).load(function () {
            $.ajax({
                url: Routing.generate('site_trail_itineraireformdata'),
                type: 'GET',
                dataType: 'json',
                success: function (json, statut) {
                    for (var i = 0; i < json.diffs.difficultes.length; i++)
                    {
                        var opt = $("<option>").attr("value", json.diffs.difficultes[i].niveau).text(json.diffs.difficultes[i].label);
                        opt.appendTo("#editdifficulte");
                    }
                    for (var i = 0; i < json.stats.status.length; i++)
                    {
                        var opt = $("<option>").attr("value", json.stats.status[i].id).text(json.stats.status[i].label);
                        opt.appendTo("#editstatus");
                    }
                    for (var i = 0; i < json.typechemin.typechemin.length; i++)
                    {
                        var opt = $("<option>").attr("value", json.typechemin.typechemin[i].id).text(json.typechemin.typechemin[i].label);
                        opt.appendTo("#edittypechemin");
                    }
                    $("#edit").prop("disabled", false);
                }
            });
        });
        $("#edit").on("click", function ()
        {
            $("#editnom").val($("#nom").text());
            $("#editnumero").val($("#numero").text());
            $("#editdescription").val($("#description").text());
            $("#editdifficulte option[value='" + $("#difficulte").attr("value") + "']").prop("selected", true);
            $("#editstatus option[value='" + $("#status").attr("value") + "']").prop("selected", true);
            $("#edittypechemin option[value='" + $("#typechemin").attr("value") + "']").prop("selected", true);
            $("#editpublic option[value='" + $("#public").attr("value") + "']").prop("selected", true);
            $("#update").modal('show');
        });
        $("#updateiti").on("click", function ()
        {
            var items = [];
            $('#editevenement option:selected').each(function () {
                items.push($(this).val());
            });

            $.post(Routing.generate('site_trail_itineraireupdate'),
                    {
                        nom: $("#editnom").val(),
                        numero: $("#editnumero").val(),
                        typechemin: $("#edittypechemin option:selected").val(),
                        description: $("#editdescription").val(),
                        difficulte: $("#editdifficulte option:selected").val(),
                        auteur: $("#editauteur").val(),
                        status: $("#editstatus option:selected").val(),
                        public: $("#editpublic option:selected").val(),
                        id: $("#iditi").val(),
                        evenement: items
                    })
                    .done(function (data, status) {
                        $.notify("Itinéraire mis à jour", "success");
                        $("#nom").text($("#editnom").val());
                        $("#numero").text($("#editnumero").val());
                        $("#description").text($("edit#description").val());
                        $("#difficulte").text($("#editdifficulte option:selected").text()).attr("value", $("#editdifficulte option:selected").val());
                        $("#status").text($("#editstatus option:selected").text()).attr("value", $("#editstatus option:selected").val());
                        $("#typechemin").text($("#edittypechemin option:selected").text()).attr("value", $("#edittypechemin option:selected").val());
                        $("#public").text($("#editpublic option:selected").text()).attr("value", $("#editpublic option:selected").val());
                    })
                    .fail(function (data, status) {
                        $.notify("Erreur lors de la mise à jour", "error");
                    });
            $("#update").modal('hide');
        });
    </script>
{% else %}
    <p>Vous n'avez pas accès à cette page</p>
{% endif %}
{% endblock %}
