{% extends "SiteTrailBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Liste des itinéraires{% endblock %}

{% block body %}
  {% if app.user %}
      <h1>Listage des itinéraires</h1>
	  {% for itineraire in resultats.list%}
		<a href="{{ path('site_trail_getByIditineraire', {'id': itineraire.id}) }}"> Itinéaire: {{itineraire.nom}}  Type de chemin: {{itineraire.typechemin}} Difficulte: {{itineraire.difficulte.label}} Date de création: {{itineraire.datecreation}} Longueur du parcours: {{itineraire.longueur}}</a>
	  {% endfor %}
 {% else %}
     <p>Vous n'avez pas accès à cette page</p>
 {% endif %}
{% endblock %}