{% extends "SiteTrailBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Recherche d'itinéraire{% endblock %}

{% block body %}
  {% if app.user %}
      <h1>Recherche d'itinéraire</h1>
	  
	  <form name="myform" action="{{ path('site_trail_searchitineraire') }}" method="POST">
			<input name="enter" type="text" size="25" placeholder="Valeurs de recherche">
			<input type="submit" name="submit" value=" Rechercher ">
		</form>
	  
	  {% if resultats is not empty %}
	  
			<h3>Résultats selon le nom</h3>
			{% if resultats['nom'] is not empty %}
				{% for itineraire in resultats['nom'] %}
					<p> Itinéaire: {{itineraire.getNom()}}  Type de chemin: {{itineraire.getTypechemin()}}</p>
				{% endfor %}
			{% else %}
				 <p>Aucun résultat n'a été trouvé pour ce nom</p>
			{% endif %}
			
			<h3>Résultats selon le type de chemin</h3>
			{% if resultats['typechemin'] is not empty %}
				{% for itineraire in resultats['typechemin'] %}
					<p> Itinéaire: {{itineraire.getNom()}}  Type de chemin: {{itineraire.getTypechemin()}}</p>
				{% endfor %}
			{% else %}
				 <p>Aucun résultat n'a été trouvé pour ce type de chemin</p>
			{% endif %}
	  {% endif %}
 {% else %}
     <p>Vous n'avez pas accès à cette page</p>
 {% endif %}
{% endblock %}