{% extends "SiteTrailBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Recherche d'itinéraire{% endblock %}

{% block body %}
	  {% if app.user %}
	  <div class="container">
		      <h1>Recherche d'itinéraire</h1>
			  
			  <form class="form-inline" role="form" name="myform" action="{{ path('site_trail_searchitineraire') }}" method="POST">
			  		<div class="form-group">
			  			<label for="nom">Nom:</label>
						<input name="nom" id="nom" type="text" size="25" placeholder="Nom">
					</div>
					<div class="form-group">
						<label for="typechemin">Type de chemin:</label>
						<input name="typechemin" id="typechemin" type="text" size="25" placeholder="Type de chemin">
					</div>
					<div class="form-group">
						<label for="denivelep">Dénivelé positif:</label>
						<input name="denivelep" id="denivelep" type="text" size="25" placeholder="Dénivelé positif">
					</div>
					<div class="form-group">
						<label for="denivelen">Dénivelé négatif:</label>
						<input name="denivelen" id="denivelen" type="text" size="25" placeholder="Dénivelé négatif">
					</div>
					<div class="form-group">
						<label for="datecrea">Date de création:</label>
						<input name="datecrea" id="datecrea" type="date" size="25" placeholder="Date de création">
					</div>
					<div class="form-group">
						<label for="recipient-name" class="control-label">Difficulté:</label>
		                <select name="difficulte">
		                  {% if diffs.difficultes is not empty %}
		                  <option value=""/></option>
									{% for diff in diffs.difficultes%}
										<option value={{diff.niveau}}>{{diff.label}}</option>
									{% endfor %}
						  {% endif %}
		                </select>
		             </div>
		            <input name="valid" type="hidden" value="ok">
		            <div class="form-group">
						<input type="submit" name="submit" value=" Rechercher ">
					</div>
				</form>
			  
			  {% if resultats is not empty %}
			  
					<h3>Résultats</h3>
					{% if resultats.searchResults is not empty %}
						{% for itineraire in resultats.searchResults %}
							<a href="{{ path('site_trail_getByIditineraire', {'id': itineraire.id}) }}"> Itinéaire: {{itineraire.nom}}  Type de chemin: {{itineraire.typechemin}} Difficulte: {{itineraire.difficulte.label}} Date de création: {{itineraire.datecreation}} Longueur du parcours: {{itineraire.longueur}}</a>
						{% endfor %}
					{% else %}
						 <p>Aucun résultat</p>
					{% endif %}
			  {% endif %}
		</div>
	 {% else %}
	     <p>Vous n'avez pas accès à cette page</p>
	 {% endif %}
{% endblock %}