{% extends "SiteTrailBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Recherche d'itinéraire{% endblock %}

{% block body %}
	  {% if app.user %}
	  <div class="container">
		      <h1>Recherche d'itinéraire</h1>
			  
			  <form class="form-inline" role="form" name="myform" action="{{ path('site_trail_searchitineraire') }}" method="POST">
			  		<div class="form-group">
			  			<label for="nom">Nom:</label>
						<input name="nom" id="nom" type="text" size="25" placeholder="Nom">
					</div>
					<div class="form-group">
						<label for="typechemin">Type de chemin:</label>
						<input name="typechemin" id="typechemin" type="text" size="25" placeholder="Type de chemin">
					</div>
					<div class="form-group">
						<label for="denivelep">Dénivelé positif:</label>
						<input name="denivelep" id="denivelep" type="text" size="25" placeholder="Dénivelé positif">
					</div>
					<div class="form-group">
						<label for="denivelen">Dénivelé négatif:</label>
						<input name="denivelen" id="denivelen" type="text" size="25" placeholder="Dénivelé négatif">
					</div>
					<div class="form-group">
						<label for="datecrea">Date de création:</label>
						<input name="datecrea" id="datecrea" type="date" size="25" placeholder="Date de création">
					</div>
					<div class="form-group">
						<label for="recipient-name" class="control-label">Difficulté:</label>
		                <select name="difficulte">
		                  {% if diffs.difficultes is not empty %}
		                  <option value=""/></option>
									{% for diff in diffs.difficultes%}
										<option value={{diff.niveau}}>{{diff.label}}</option>
									{% endfor %}
						  {% endif %}
		                </select>
		             </div>
		            <input name="valid" type="hidden" value="ok">
		            <div class="form-group">
						<input type="submit" name="submit" value=" Rechercher ">
					</div>
				</form>
				<h1>Liste des itinéraires</h1>
			  <table class="table">
				<thead>
					<tr>
						<th>Itinéraire</th>
						<th>Type de chemin</th>
						<th>Difficulté</th>
						<th>Date de création</th>
						<th>Longueur du parcours</th>
					</tr>
				</thead>
				<tbody>
				{% if resultats is empty %}
					{% if list.list is not empty %}
						{% for itineraire in list.list %}
						<tr>
							<td>{{itineraire.nom}}</td>
							<td>{{itineraire.typechemin}}</td>
							<td>{{itineraire.difficulte.label}}</td>
							<td>{{itineraire.datecreation}}</td>
							<td>{{itineraire.longueur}}</td>
						</tr>
						{% endfor %}
					{% endif %}
				  {% else %}
						{% if resultats.searchResults is not empty %}
							{% for itineraire in resultats.searchResults %}
								<tr>
									<td>{{itineraire.nom}}</td>
									<td>{{itineraire.typechemin}}</td>
									<td>{{itineraire.difficulte.label}}</td>
									<td>{{itineraire.datecreation}}</td>
									<td>{{itineraire.longueur}}</td>
								</tr>
							{% endfor %}
						{% endif %}
				  {% endif %}
				</tbody>
			   </table>
		</div>
	 {% else %}
	     <p>Vous n'avez pas accès à cette page</p>
	 {% endif %}
{% endblock %}