<!DOCTYPE HTML>
<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
        {% stylesheets filter='cssrewrite'
        '@SiteTrailBundle/Resources/css/*'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        <!--<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!--<script src="../../src/Site/TrailBundle/Resources/js/menu.js"></script>-->
        <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
        <script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>


        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

        <meta charset="utf-8">
        <title>{% block title %}Trail{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Trail</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{{path('site_trail_homepage_empty')}}">Accueil</a>
                        </li>
						{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
							<li>
								<a href="#">Nouveautés</a>
							</li>
							<li>
								<a href="#">Le club</a>
							</li>
							<li>
								<a href="#">Le Trail</a>
							</li>
							<li>
								<a href="#">Contact</a>
							</li>
						{% endif %}
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							<li>
								<a href="{{path('site_trail_evenement')}}">Calendrier</a>
							</li>
							<li>
								<a href="{{path('site_trail_map')}}">Carte</a>
							</li>
							<li>
								<a href="#">Galerie</a>
							</li>
							{% if is_granted('ROLE_Administrateur') %}
                                <li>
                                    <a href="{{path('site_trail_annuaire')}}">Annuaire</a>
                                </li>
                            {% endif %}
						{% endif %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{app.user.email}} <span class="caret"></span></a>
                                {% else %}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Connexion<span class="caret"></span></a>
                                {% endif %}
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <p class="text-center">

                                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                    <div class="img-size" style="background-image: url('{{app.user.avatar.path}}');"></div>
                                                    {% else %}
                                                        <span class="glyphicon glyphicon-user icon-size"></span>
                                                    {% endif %}
                                                </p>
                                            </div>
                                            <div class="col-lg-8">
                                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                    <p class="text-left"><strong>{{app.user.email}}</strong></p>
                                                    <p class="text-left small">Vous êtes connecté</p>
                                                    <p class="text-left">
                                                        <a href="#" class="btn btn-primary btn-block btn-sm">Mon compte</a>
                                                    </p>

                                                {% else %}
                                                    <p class="text-left"><strong>Anonyme</strong></p>
                                                    <p class="text-left small">Vous n'êtes pas connecté</p>
                                                    <p class="text-left">
                                                        <a href="#loginModal" class="btn btn-primary btn-block btn-sm" data-toggle="modal" data-target="#myModal">Me connecter</a>
                                                    </p>
                                                {% endif %}                                        
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                    {%if is_granted('ROLE_Administrateur')%}
                                                        <p><a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target=".bs-modal-sm">Créer un utilisateur</a></p>
                                                    {%endif%}
                                                    <p>
                                                        <a href="{{path('logout')}}" class="btn btn-danger btn-block">Me deconnecter</a>
                                                    </p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div id="page-content-wrapper">
            {% block body %}
            {% endblock %}
        </div>
		<footer class="text-center">
			<p>ASCPA Strasbourg - 20 rue de la plaine de Bouchers - 67100 Strasbourg - 03.88.39.68.24 - ascpa@wanadoo.fr</p>
			<p>© Copyright 2004-2015</p>
		</footer>

        <!-- /#page-content-wrapper -->

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        <h4 class="modal-title custom_align" id="Heading">Bienvenue sur le Site du Trail</h4>
                    </div>
                    <form id="loginform">
                        <div class="modal-body">

                            <div class="form-group">
                                <label>Email:</label>
                                <input id="userid" class="form-control" type="text" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label>Mot de passe:</label>
                                <input id="passwordinput" class="form-control " type="password" placeholder="Mot de passe">
                            </div> 

                        </div>
                        <div class="modal-footer ">
                            <button id="btn_login" type="submit" class="btn btn-warning btn-block"><span class="glyphicon glyphicon-ok-sign"></span> Se connecter</button>
                        </div>
                    </form> 
                </div>
                <!-- /.modal-content --> 
            </div>
            <!-- /.modal-dialog --> 
        </div>


        <script>
            $(document).ready(function () {


                $("#loginform").submit(function () {
                    var email = $("#userid").val();
                    var password = $("#passwordinput").val();
                    $.ajax({
                        type: "POST",
                        url: "{{path('login_check')}}",
                        data: {_email: email, _password: password},
                        cache: false,
                        success: function (data) {
                            if (!data.serverError)
                            {
                                if (data.success)
                                {
                                    location.reload();
                                    //console.log(data.test);
                                }
                                else
                                {

                                    $.notify(data.message, "error");

                                }
                            }
                            else
                            {
                                console.log(data.message);
                            }

                        }
                    });
                    return false;
                });

                //Inscription ou création d'un utilisateur
                $("#signupform").submit(function () {
                    var email = $("#Email").val();
                    var password = $("#password").val();
                    var reenterpassword = $('#reenterpassword').val();
                    var role = $("#selectRole").val();
                    var data = {email: email, password: password};
                    if (role != "")
                    {
                        data = {email: email, password: password, role: role}
                    }
                    var error = false;
                    if (email == "")
                    {
                        $.notify("Le champs email ne doit pas être vide", "error");
                        error = true;
                    }
                    if (password == "")
                    {
                        $.notify("Le champs mot de passe ne doit pas être vide", "error");
                        error = true;
                    }
                    if (password != reenterpassword)
                    {
                        $.notify("Les mots de passe ne sont pas identiques", "error");
                        error = true;
                    }
                    if (error)
                    {
                        return false;
                    }
                    $.ajax({
                        type: "POST",
                        url: "{{path('site_trail_createUser')}}",
                        data: data,
                        cache: false,
                        success: function (data) {
                            if (!data.serverError)
                            {
                                if (data.success)
                                {
                                    $.notify(data.message, "success");
                                }
                                else
                                {
                                    $.notify(data.message);
                                }

                            }
                            else
                            {
                                console.log(data.message);
                            }

                        }
                    });
                    return false;
                });

                //Chargement de la liste des rôles
                function load_combobox_roles(combobox)
                {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('site_trail_loadRoles') }}",
                        data: {},
                        cache: false,
                        success: function (data) {
                            if (!data.serverError)
                            {
                                if (data.success)
                                {
                                    combobox.empty();
                                    //On remplit la liste déroulante
                                    $.each(data.roles, function (index, value) {
                                        combobox.append('<option value="' + value.id + '">' + value.name + '</option>');
                                    });
                                }
                                else
                                {
                                    combobox.empty();
                                }
                            }
                            else
                            {
                                console.log(data.message);
                            }
                        }
                    });
                }

                //load_combobox_roles($("#selectRole"));
            });
        </script>
        {% javascripts '@SiteTrailBundle/Resources/js/*' '@SiteTrailBundle/Resources/js/user/*'
                   
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
