<!DOCTYPE HTML>
<html>
  <head>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
      {% stylesheets filter='cssrewrite'
        '@SiteTrailBundle/Resources/css/*'
         %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
      {% endstylesheets %}
      <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
      <!--<script src="../../src/Site/TrailBundle/Resources/js/menu.js"></script>-->
        <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
        <script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>
        
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>
      
    <meta charset="utf-8">
    <title>{% block title %}Trail{% endblock %}</title>
  </head>
  <body>
    <div id="wrapper">
        <div class="overlay"></div>
    
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       Trail
                    </a>
                </li>
                <img class="avatar" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                    alt="" href="#signup" data-toggle="modal" data-target=".bs-modal-sm">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">Team</a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Dropdown heading</li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="https://twitter.com/maridlcrmn">Follow me</a>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
            </button>
            
            {% block body %}
            {% endblock %}
            <!--<div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        
                    </div>
                </div>
            </div>-->
        </div>
        
        <!-- /#page-content-wrapper -->

    </div>

<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
          <br>
          <div class="bs-example bs-example-tabs">
              <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#signin" data-toggle="tab">Se connecter</a></li>
                <li class=""><a href="#signup" data-toggle="tab">S'inscrire</a></li>
                
              </ul>
          </div>
        <div class="modal-body">
          <div id="myTabContent" class="tab-content">
          
          <div class="tab-pane fade active in" id="signin">
              <form id="loginform" action="{{ path('login_check') }}" method="post" class="form-horizontal">
              <fieldset>
              <!-- Sign In Form -->
              <!-- Text input-->
              <div class="control-group">
                <label class="control-label" for="_email">Email :</label>
                <div class="controls">
                  <input required="" id="userid" name="_email" type="text" class="form-control" placeholder="login" class="input-medium" required="">
                </div>
              </div>

              <!-- Password input-->
              <div class="control-group">
                <label class="control-label" for="_password">Mot de passe :</label>
                <div class="controls">
                  <input required="" id="passwordinput" name="_password" class="form-control" type="password" placeholder="********" class="input-medium">
                </div>
              </div>

              <!-- Button -->
              <div class="control-group">
                <label class="control-label" for="signin"></label>
                <div class="controls">
                  <button id="signin" name="signin" class="btn btn-success">Se connecter</button>
                </div>
              </div>
              
              </fieldset>
              </form>
          </div>
          <div class="tab-pane fade" id="signup">
              <form id="signupform" class="form-horizontal">
              <fieldset>
              <!-- Sign Up Form -->
              <!-- Text input-->
              {% if app.user %}
                    <p>{{ app.user.username }}</p>
               {% else %}
                   <p> pas lala</p>
               {% endif %}
              <div class="control-group">
                <label class="control-label" for="Email">Email :</label>
                <div class="controls">
                  <input id="Email" name="Email" class="form-control" type="email" placeholder="exemple@exemple.com" class="input-large" required="">
                </div>
              </div>

             

              <!-- Password input-->
              <div class="control-group">
                <label class="control-label" for="password">Mot de passe :</label>
                <div class="controls">
                  <input id="password" name="password" class="form-control" type="password" placeholder="********" class="input-large" required="">
                  
                </div>
              </div>

              <!-- Text input-->
              <div class="control-group">
                <label class="control-label" for="reenterpassword">Ressaisir le mot de passe :</label>
                <div class="controls">
                  <input id="reenterpassword" class="form-control" name="reenterpassword" type="password" placeholder="********" class="input-large" required="">
                </div>
              </div>
              {% if app.user %}
                    {% if is_granted('ROLE_Administrateur') %}
                        <div class="control-group">
                            <label class="control-label" for="selectRole">Selectionner un rôle :</label>
                            <div class="controls">
                                <select id="selectRole" class="form-control" name="selectRole" class="input-large">
                                </select>
                            </div>
                          </div>               
                    {% endif %}
               
               {% endif %}
              
              <br>
              

              <!-- Button -->
              <div class="control-group">
                <label class="control-label" for="confirmsignup"></label>
                <div class="controls">
                  <button id="confirmsignup" name="confirmsignup" class="btn btn-success">S'inscrire</button>
                </div>
              </div>
              </fieldset>
              </form>
        </div>
      </div>
        </div>
        <div class="modal-footer">
        <center>
          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          </center>
        </div>
      </div>
    </div>
</div>    
<script>
$(document).ready( function() {
    

$("#loginform").submit(function(){    
    var email = $("#userid").val();
    var password = $("#passwordinput").val();
    $.ajax({
        type: "POST",
        url: "{{path('login_check')}}",
        data: {_email: email, _password: password},
        cache: false,
        success: function(data){           
           if(data.success)
           {               
               location.reload();
           }
           else
           {
              $.notify(data.message, "error");
           }         
        
        }
    }); 
    return false;    
});

$("#signupform").submit(function(){    
    var email = $("#Email").val();
    var password = $("#password").val();
    var role = $("#selectRole").val();
    var data = {email: email, password: password};
    if(role != "")
    {
        data = {email: email, password: password, role: role}
    }   
    $.ajax({
        type: "POST",
        url: "{{path('site_trail_createUser')}}",
        data: data,
        cache: false,
        success: function(data){           
           if(data.success)
           {               
               $.notify("fonctionne", "success");
           }
           else
           {
              $.notify("Il y a eu une erreur", "error");
           }         
        
        }
    }); 
    return false;    
});

function load_combobox_roles(combobox)
{
    $.ajax({
        type: "POST",
        url: "{{ path('site_trail_loadRoles') }}",
        data: {},
        cache: false,
        success: function(data){           
           if(data.success)
           {               
              combobox.empty();
              
              $.each(data.roles, function(index, value) {                
                 combobox.append('<option value="'+ value.id +'">'+ value.name +'</option>');
               });
           }   
           else
           {
               combobox.empty();
           }
        }
    }); 
}

load_combobox_roles($("#selectRole"));
});
</script>
    {% javascripts '@SiteTrailBundle/Resources/js/*'
                   
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
  </body>
</html>
