{% extends "SiteTrailBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Recherche des membres{% endblock %}

{% block body %}

<div class="container">
  
  
        {% if app.user %}
            <h1>Fiche Membre</h1>
            <!-- On appel directement le controlleur qui est sur le serveur !-->
            
            <form method="POST" action="http://130.79.214.167/Trail/web/app_dev.php/user/avatarupload" enctype="multipart/form-data">
                <div class="row">
                    <div id="avatar" class="img-size col-xs-3" style="background-image: url('{{app.user.avatar.path}}');"></div>
                    <input class="col-xs-3" type="file" name='fichier' style="margin-top:32px" />
                    <button id="btn_avatar" class="col-xs-3 btn btn-warning" style="margin-top:32px">Modifier l'image</button>
                </div>
            </form>

            <form action="{{ path("site_trail_submitprofilmembre") }}" method="post">  
                {# avatar du membre #}
                <p class="pre"><strong>Prenom : </strong><span class="pre" id="pr">{{ prenom }} </span></p>
                <p class="nom"><strong>Nom : </strong><span class="nom" id ="nm">{{ nom }} </span></p>
                <p class="dat"><strong>Date de naissance : </strong><span class="dat" id ="dn">{{ date }}</span></p>
                <p class="ema"><strong>Email  : </strong><span class="ema" id="em">{{email}}</span></p>
                <p class="tel"><strong>Téléphone : </strong><span class="tel" id="tl">{{tel}} </span></p>
                <p class="lic"><strong>Licence : </strong><span class="lic" id="lc">{{licence}} </span></p>
                <button class="btn btn-warning" id="btn" onclick="Modif()">Modifier</button>
            </form> 
                {% if itineraires.list is defined and itineraires.list is not empty %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Itinéraire</th>
                                <th>Type de chemin</th>
                                <th>Difficulté</th>
                                <th>Date de création</th>
                                <th>Longueur du parcours</th>
                                <th>Statut</th>
                                <th>Visibilité</th>
                                <th>Ma note</th>
                                <th>Note moyenne</th>
                                <th>Télécharger le fichier GPX</th>
                                <th>Supprimer</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if itineraires.list is not empty %}
                                {% for itineraire in itineraires.list %}
                                    <tr id ="{{itineraire.id}}">
                                        <td><a href="{{ path('site_trail_getByIditineraire', {'id': itineraire.id}) }}">{{itineraire.nom}}</a></td>
                                        <td>{{itineraire.typechemin.label}}</td>
                                        <td>{{itineraire.difficulte.label}}</td>
                                        <td>{{itineraire.datecreation | date("d/m/Y")}}</td>
                                        <td>{{itineraire.longueur}}km</td>
                                        <td>{{itineraire.status.label}}</td>
                                        <td><p class="public">
                                                {% if itineraire.public == 0 %}
                                                    Privé
                                                {% else %}
                                                    Publique
                                                {% endif %}
                                            </p>
                                        </td>
                                        {% if userNotes[loop.index-1] is defined and userNotes[loop.index-1] is not empty %}
                                            <td>{{userNotes[loop.index-1]}}</td>
                                        {% else %}
                                            <td>/</td>
                                        {% endif %}
                                        {% if itiMoyenne[loop.index-1] is defined and itiMoyenne[loop.index-1] > -1 %}
                                            <td>{{itiMoyenne[loop.index-1]}}</td>
                                        {% else %}
                                            <td>/</td>
                                        {% endif %}
                                        <td>
                                            <p data-placement='top' data-toggle='tooltip' title='GPX'>
                                                <a href="http://130.79.214.167/Carto/web/app_dev.php/download/gpx/{{itineraire.id}}" class='btn btn-success btn-xs btn_edit'><span class='glyphicon glyphicon-download'></span></a>
                                            </p>
                                        </td>
                                        <td>
                                            <p data-placement='top' data-toggle='tooltip' title='Delete'>
                                                <button class='btn btn-danger btn-xs btn_edit' id="delete" type='button' onclick="Delete({{itineraire.id}})"><span class='glyphicon glyphicon-remove'></span></button>
                                            </p>
                                        </td>					
                                    </tr>
                                {% endfor %}
                            {% endif %}

                        </tbody>
                    </table>
                {% endif %}
            
            {#  affichage des itinéraires du membre
              {% if resultats is not empty %}
              
                            <h3>Résultats selon le nom</h3>
                            {% if resultats['username'] is not empty %}
                                    {% for membre in resultats['username'] %}
                                            <p> Pseudonyme: {{membre.getUserName()}}  Email: {{membre.getEmail()}}</p>
                                    {% endfor %}
                            {% else %}
                                     <p>Aucun résultat n'a été trouvé pour ce nom</p>
                            {% endif %}
                            
                            <h3>Résultats selon l'email</h3>
                            {% if resultats['email'] is not empty %}
                                    {% for membre in resultats['email'] %}
                                            <p> Pseudonyme: {{membre.getUserName()}}  Email: {{membre.getEmail()}}</p>
                                    {% endfor %}
                            {% else %}
                                     <p>Aucun résultat n'a été trouvé pour cet Email</p>
                            {% endif %}
              {% endif %}
              
            #}

        {% else %}
            <p>Vous n'avez pas accès à cette page</p>
        {% endif %}


        <script>

            function Modif()
            {
                var prenom = $("#pr").text();
                var nom = $("#nm").text();
                var date = $("#dn").text();
                var email = $("#em").text();
                var telephone = $("#tl").text();
                var licence = $("#lc").text();

                $("#pr").replaceWith('');
                $("#nm").replaceWith('');
                $("#dn").replaceWith('');
                $("#em").replaceWith('');
                $("#tl").replaceWith('');
                $("#lc").replaceWith('');

                //Edition des éléments -> remplassement du contenus HTML par d'autres structures.
                $(".pre").replaceWith('<div class="row"><p class="col-xs-4"><strong>Prénom : </strong></p> <input class="col-xs-4" type="text" name="Prenom" value="' + prenom + '"></div>');
                $(".nom").replaceWith('<div class="row"><p class="col-xs-4"><strong>Nom : </strong></p> <input class="col-xs-4" type="text" name="Nom" value="' + nom + '"></div>');
                $(".dat").replaceWith('<div class="row"><p class="col-xs-4"><strong>Date de naissance : </strong></p> <input class="col-xs-4" type="text" name="Date" value="' + date + '"></div>');
                $(".ema").replaceWith('<div class="row"><p class="col-xs-4"><strong>Email : </strong></p> <input class="col-xs-4" type="text" name="Email" value="' + email + '"></div>');
                $(".tel").replaceWith('<div class="row"><p class="col-xs-4"><strong>Téléphone : </strong></p> <input class="col-xs-4" type="text" name="Tel" value="' + telephone + '"></div>');
                $(".lic").replaceWith('<div class="row"><p class="col-xs-4"><strong>Licence : </strong></p> <input class="col-xs-4" type="text" name="Licence" value="' + licence + '"></div>');
                $("#btn").replaceWith('<input type="submit" class="btn btn-warning" name="submit" value=" Envoyer ">');

            }

            function Delete(itiid)
            {
                $.post(Routing.generate('site_trail_itinerairedelete'),
                        {
                            id: itiid
                        })
                        .done(function (data, status) {
                            $.notify("Itinéraire supprimé", "success");
                            $("#" + itiid).remove();
                        })
                        .fail(function (data, status) {
                            $.notify("Erreur lors de la suppression", "error");
                        });
            }

        </script>
    </div>

{% endblock %}
