<div id="modalsEvent"> 
    <div id="modalEventDetail" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        {% if idClasse == 1 %} <!-- Entrainement -->
                            <p>Entrainement - {{evenement.getEvenement().getTitre()}}<br/>
                                <label class='petitTexte'>Créé par {{evenement.getEvenement().getCreateur().getPrenom()}} {{evenement.getEvenement().getCreateur().getNom()}} le {{evenement.getEvenement().getDateCreation()|date('d/m/Y', false)}}</label>
                            </p>
                        {% elseif idClasse == 2 %} <!-- Entrainement personnel -->
                            <p>Entrainement personnel - {{evenement.getEvenement().getTitre()}}<br/>
                                <label class='petitTexte'>Créé par {{evenement.getEvenement().getCreateur().getPrenom()}} {{evenement.getEvenement().getCreateur().getNom()}} le {{evenement.getEvenement().getDateCreation()|date('d/m/Y', false)}}</label>
                            </p>
                        {% elseif idClasse == 3 %} <!-- Evenement divers -->
                            <p>Evenement divers - {{evenement.getEvenement().getTitre()}}<br/>
                                <label class='petitTexte'>Créé par {{evenement.getEvenement().getCreateur().getPrenom()}} {{evenement.getEvenement().getCreateur().getNom()}} le {{evenement.getEvenement().getDateCreation()|date('d/m/Y', false)}}</label>
                            </p>
                        {% elseif idClasse == 4 %} <!-- Sortie découverte -->
                            <p>Sortie découverte - {{evenement.getEvenement().getTitre()}}<br/>
                                <label class='petitTexte'>Créé par {{evenement.getEvenement().getCreateur().getPrenom()}} {{evenement.getEvenement().getCreateur().getNom()}} le {{evenement.getEvenement().getDateCreation()|date('d/m/Y', false)}}</label>
                            </p>
                        {% elseif idClasse == 5 %} <!-- Course officielle -->
                            <p>Course Officielle - {{evenement.getEvenement().getTitre()}}<br/>
                                <label class='petitTexte'>Créé par {{evenement.getEvenement().getCreateur().getPrenom()}} {{evenement.getEvenement().getCreateur().getNom()}} le {{evenement.getEvenement().getDateCreation()|date('d/m/Y', false)}}</label>
                            </p>
                        {% else %}
                        {% endif %}
                    </h4>
                </div>
                <div class="modal-body">
                    <p>Début : {{evenement.getEvenement().getDateDebut()|date('d/m/Y', false)}} à {{evenement.getEvenement().getDateDebut()|date('H:i')}}</p>
                    <p>Fin : {{evenement.getEvenement().getDateFin()|date('d/m/Y', false)}} à {{evenement.getEvenement().getDateFin()|date('H:i')}}</p>
                    <p>Description : {{evenement.getEvenement().getDescription()}}</p>
                    {% if evenement.getEvenement().getLienKid() != null %}
                        <p>Lien KID : <a target="_blank" href="{{evenement.getEvenement().getLienKid()}}">{{evenement.getEvenement().getLienKid()}}</a></p>
                    {% endif %}
                    <p>Statut : {{evenement.getEvenement().getStatus().getLabel()}}</p> 
                    {% if idClasse == 1 %} <!-- Entrainement -->
                        <p>Programme : {{evenement.getProgramme().getLabel()}} ({{evenement.getProgramme().getDuree()|date('H:i')}})</p>
                        <p>Lieu de rendez-vous : {{evenement.getLieuRendezVous().getTitre()}} ({{evenement.getLieuRendezVous().getCoordonnees()}})</p>
                    {% elseif idClasse == 2 %} <!-- Entrainement personnel -->
                    {% elseif idClasse == 3 %} <!-- Evenement divers -->
                        <p>Description : {{evenement.getDescription()}} </p>
                    {% elseif idClasse == 4 %} <!-- Sortie découverte -->
                        <p>Lieu de rendez-vous : {{evenement.getLieuRendezVous().getTitre()}} ({{evenement.getLieuRendezVous().getCoordonnees()}})</p>
                    {% elseif idClasse == 5 %} <!-- Course officielle -->
                        <p>URL du site : <a target="_blank" href="{{evenement.getSiteUrl()}}">{{evenement.getSiteUrl()}}</a></p>
                    {% else %}
                    {% endif %}
                    {% if evenementItineraire != null %}
                        <p>Itinéraires associés : </p>
                        {% for eventIti in evenementItineraire %}
                            <a href="{{ path('site_trail_getByIditineraire', {'id': eventIti.idItineraire}) }}">{{eventIti.getNomItineraire()}}</a>
                        {% endfor %}
                    {% endif %}
                    
                    {% if (app.user) %}
                        <div class="modal-footer">
                            <div class='wrapper text-center'>
                                {% if (app.user.getRole().getId() == 1 or evenement.getEvenement().getCreateur().getId() == app.user.getId()) %}
                                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="modifEvenement({{idClasse}}, {{evenement.getId()}})">Modifier</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="supprEvenementConfirm()">Supprimer</button>
                                {% endif %}
                                {% if (participation != null ) %}
                                    {% if (participation.getEtatInscription() == '') %}
                                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">Participer</button>
                                    {% endif %}
                                {% else %}
                                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">Participer</button>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div id="modalAvertissement" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">      
                <div class="modal-body text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <p>Etes-vous sûr de vouloir supprimer cet événement ?</p>
                    <div class='wrapper text-center'>
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="suppressionEvenement({{idClasse}}, {{evenement.getId()}})">Oui</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" >Non</button>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</div>