<div id="modalIcs" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Télécharger mon calendrier (.ics)</h4>
            </div>
            <div class="modal-body">
                <div class='tableContainer'>
                    <table>
                        <tr>
                            <td class='icsTableTd'>
                                <label>Début</label> 
                            </td>
                            <td>
                                <input type="text" name="dateDebut" id="dateDebut" class="date">
                            </td>
                            <td class='tdCenter icsTableTd' rowspan='2'>
                                <div id="lienDl"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class='icsTableTd'>
                                <label>Fin</label>     
                            </td>
                            <td>
                                <input type="text" name="dateFin" id="dateFin" class="date">
                            </td>
                        </tr>
                    </table>
                </div>
                <p>URL de votre calendrier : <br/><a href="{{ path('site_trail_evenement_ics') }}/{{ app.user.getTokenics() }}">{{ app.request.getSchemeAndHttpHost() }}/Trail/web/app_dev.php/ics/{{ app.user.getTokenics() }}</a></p>
                <p class="text-warning"><small>Seule l'URL permet une mise à jour des évènements !</small></p>
            </div>
        </div>
    </div>
</div>

{% javascripts '@SiteTrailBundle/Resources/js/event/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}