<div id="modalModifEventForm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Edition d'événement</h4>
            </div>
            <div class="modal-body">
                {{ form_start(form, {'attr': {'id': 'modifierEvent', 'onSubmit': 'envoiFormModif(); return false;'}}) }}
                {{ form_errors(form) }}
                <input type="hidden" name="createur" value="{{ app.user.id }}"/>
                <input type="hidden" name="idClasse" value="{{ idClasse }}"/>
                <input type="hidden" name="idObj" value="{{ idObj }}"/>

                <!-- Champ titre -->
                <div class="form-group">
                    <div class="row">
                        {{ form_label(form.titre, "Titre : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(form.titre) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <!-- Champ description -->
                <div class="form-group">
                    <div class="row">
                        {{ form_label(form.description, "Description : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(form.description) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <!-- Champ lien kidoikoiaki -->
                <div class="form-group">
                    <div class="row">
                        {{ form_label(form.lienKid, "Lien KID : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(form.lienKid) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.lienKid, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
                        
                <div class="form-group">
                    <div class="row">
                        <label class='col-sm-3 control-label'>Statut :</label>
                        <div class="col-sm-9">
                            <select name='statut' class="form-control">
                                {% for monStatut in listeStatut %}
                                    {% if monStatut.getId() == selectedStatut %}
                                        <option selected='selected' value='{{monStatut.id}}'>{{monStatut.label}}</option>
                                    {% else %}
                                        <option value='{{monStatut.id}}'>{{monStatut.label}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Champ date début -->
                <div class="form-group">
                    <div class="row addEventDate">
                        {{ form_label(form.date_debut, "Date début : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(form.date_debut) }}
                        <div class="col-sm-5">
                            {{ form_widget(form.date_debut) }}
                        </div>
                        <div class="col-sm-4">
                            <label id="errorDate"></label>
                        </div>
                    </div>
                </div>

                <!-- Champ date fin -->
                <div class="form-group">
                    <div class="row addEventDate">
                        {{ form_label(form.date_fin, "Date fin : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(form.date_fin) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.date_fin) }}
                        </div>
                    </div>
                </div>    
                 
                <!-- Champ liste itinéraire -->
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 control-label">Association d'itinéraire :</label>
                        <div class="col-sm-9">
                            <select id="addIti" name="addIti[]" multiple>
                                {% for iti in listeIti.list %}
                                    {% if iti.id in selectedIti %}
                                        <option value='{{iti.id}}' selected="selected">{{iti.nom}} ({{iti.datecreation|date('d/m/Y', false)}})</option>  
                                    {% else %}
                                        <option value='{{iti.id}}'>{{iti.nom}} ({{iti.datecreation|date('d/m/Y', false)}})</option>  
                                    {% endif %}  
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Champ participants -->
                <!--<div class="form-group">
                    <div class="row">
                        <label class='col-sm-3 control-label'>Participants :</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="participants[]" multiple>
                                {#{% for monUser in listeUser %}
                                    <option value='{{monUser.id}}'>{{monUser.userName}}</option>
                                {% endfor %}#}
                            </select>
                        </div>
                    </div>
                </div> -->
                            
                <!-- Affichage des trucs supplémentaires -->
                {% if idClasse == 1 %} <!-- Entrainement -->
                    <!--<div class="form-group">
                        <div class="row">
                            <label class='col-sm-3 control-label'>Programme :</label>
                            <div class="col-sm-9">
                                <select name='programme' class="form-control">
                                    {#{% for monProgramme in listeProgramme %}
                                        <option value='{{monProgramme.id}}'>{{monProgramme.label}} ({{monProgramme.duree|date('H-i-s')}})</option>
                                    {% endfor %}#}
                                </select>
                            </div>
                        </div>
                    </div>-->
                                    
                    <!-- Champ programme label -->
                    <div class="form-group" id="programmeLabelDiv">
                        <div class="row">
                            {{ form_label(form.programme_label, "Intitulé du programme : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(form.programme_label) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.programme_label, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    
                    <!-- Champ programme duree -->
                    <div class="form-group" id="programmeDureeDiv">
                        <div class="row">
                            {{ form_label(form.programme_duree, "Durée du programme : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(form.programme_duree) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.programme_duree) }}
                            </div>
                        </div>
                    </div>
                                    
                    {#<div class="form-group">
                        <div class="row">
                            <label class='col-sm-3 control-label'>Lieu de rendez-vous :</label>
                            <div class="col-sm-9">
                                <select name='lieu' class="form-control">
                                    {% for monLieu in listeLieuRendezVous %}
                                        {% if monLieu.getId() == selectedLieuRendezVous %}
                                            <option selected='selected' value='{{monLieu.id}}'>{{monLieu.titre}}</option>
                                        {% else %}
                                            <option value='{{monLieu.id}}'>{{monLieu.titre}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>#}
                    <!-- Champ lieu titre -->
                    <div class="form-group" id="lieuTitreDiv">
                        <div class="row">
                            {{ form_label(form.rendezvous_titre, "Lieu de rendez-vous : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(form.rendezvous_titre) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.rendezvous_titre) }}
                            </div>
                        </div>
                    </div>
                            
                    <!-- Champ lieu description -->
                    <div class="form-group" id="lieuDescriptionDiv">
                        <div class="row">
                            {{ form_label(form.rendezvous_description, "Précision sur le lieu : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(form.rendezvous_description) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.rendezvous_description) }}
                            </div>
                        </div>
                    </div>                    
                {% elseif idClasse == 2 %} <!-- Entrainement personnel -->
                {% elseif idClasse == 3 %} <!-- Evenement divers -->
                    <!--<div class="form-group">
                        <div class="row">
                            <label class='col-sm-3 control-label'>Description :</label>
                            <div class="col-sm-9">
                                <input type="textbox" name="description" />
                            </div>
                        </div>
                    </div>-->
                    
                    <div class="form-group">
                        <div class="row">
                            {{ form_label(form.descEventDiv, "Description : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(form.descEventDiv) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.descEventDiv) }}
                            </div>
                        </div>
                    </div>
                {% elseif idClasse == 4 %} <!-- Sortie découverte -->
                    <!-- Champ lieu titre -->
                    <div class="form-group" id="lieuTitreDiv">
                        <div class="row ">
                            {{ form_label(form.rendezvous_titre, "Lieu de rendez-vous : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(form.rendezvous_titre) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.rendezvous_titre) }}
                            </div>
                        </div>
                    </div>
                            
                    <!-- Champ lieu description -->
                    <div class="form-group" id="lieuDescriptionDiv">
                        <div class="row">
                            {{ form_label(form.rendezvous_description, "Précision sur le lieu : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(form.rendezvous_description) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.rendezvous_description) }}
                            </div>
                        </div>
                    </div>
                    {#<div class="form-group">
                        <div class="row">
                            <label class='col-sm-3 control-label'>Lieu de rendez-vous :</label>
                            <div class="col-sm-9">
                                <select name='lieu' class="form-control">
                                    {% for monLieu in listeLieuRendezVous %}
                                        {% if monLieu.getId() == selectedLieuRendezVous %}
                                            <option selected='selected' value='{{monLieu.id}}'>{{monLieu.titre}}</option>
                                        {% else %}
                                            <option value='{{monLieu.id}}'>{{monLieu.titre}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>#}
                {% elseif idClasse == 5 %} <!-- Course officielle -->
                    <div class="form-group">
                        <div class="row">
                            {{ form_label(form.siteUrl, "Site URL : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(form.siteUrl) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.siteUrl) }}
                            </div>
                        </div>
                    </div>
                {% else %}
                {% endif %}
    
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Modifier" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

<script>
    $("#modalModifEventForm").on("change", ".addEventDate", function ()
    { 
        checkDate($('#form_date_debut_date_year').val(), $('#form_date_debut_date_month').val(),
                    $('#form_date_debut_date_day').val(), $('#form_date_debut_time_hour').val(),
                    $('#form_date_debut_time_minute').val(), $('#form_date_fin_date_year').val(),
                    $('#form_date_fin_date_month').val(), $('#form_date_fin_date_day').val(),
                    $('#form_date_fin_time_hour').val(), $('#form_date_fin_time_minute').val()        
        );
    });
    
    
    //auto completion
    $(function(){
        $( "#form_rendezvous_titre" ).autocomplete({
            appendTo: $("#form_rendezvous_titre").parent(),
            source: {{AClieu|raw}}
        });
    });
</script>

{#{% javascripts '@SiteTrailBundle/Resources/js/event/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}#}