<div id="modalModifEventForm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Edition de </h4>
            </div>
            <div class="modal-body">
                {{ form_start(form, {'attr': {'id': 'modifierEvent', 'onSubmit': 'envoiFormModif(); return false;'}}) }}
                {{ form_errors(form) }}
                {% if app.user.id is defined %} 
                    <input type="hidden" name="createur" value="{{ app.user.id }}"/>
                {% else %}
                    <input type="hidden" name="createur" value="0"/>
                {% endif %}

                <!-- Champ titre -->
                <div class="form-group">
                    <div class="row">
                        {{ form_label(form.titre, "Titre : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(form.titre) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <!-- Champ description -->
                <div class="form-group">
                    <div class="row">
                        {{ form_label(form.description, "Description : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(form.description) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <!-- Champ lien kidoikoiaki -->
                <div class="form-group">
                    <div class="row">
                        {{ form_label(form.lienKid, "Lien KID : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(form.lienKid) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.lienKid, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <!-- Champ date début -->
                <div class="form-group">
                    <div class="row">
                        {{ form_label(form.date_debut, "Date début : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(form.date_debut) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.date_debut) }}
                        </div>
                    </div>
                </div>

                <!-- Champ date fin -->
                <div class="form-group">
                    <div class="row">
                        {{ form_label(form.date_fin, "Date fin : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(form.date_fin) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.date_fin) }}
                        </div>
                    </div>
                </div>

                <!-- Champ participants -->
                <div class="form-group">
                    <div class="row">
                        <label class='col-sm-3 control-label'>Participants :</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="participants[]" multiple>
                                {% for monUser in listeUser %}
                                    <option value='{{monUser.id}}'>{{monUser.userName}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                            
                <!-- Affichage des trucs supplémentaires -->
                {% if idClasse == 1 %} <!-- Entrainement -->
                    <div class="form-group">
                        <div class="row">
                            <label class='col-sm-3 control-label'>Programme :</label>
                            <div class="col-sm-9">
                                <select name='programme' class="form-control">
                                    {% for monProgramme in listeProgramme %}
                                        <option value='{{monProgramme.id}}'>{{monProgramme.label}} ({{monProgramme.duree|date('Y-m-d')}})</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class='col-sm-3 control-label'>Lieu de rendez-vous :</label>
                            <div class="col-sm-9">
                                <select name='lieu' class="form-control">
                                    {% for monLieu in listeLieuRendezVous %}
                                        <option value='{{monLieu.id}}'>{{monLieu.titre}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                {% elseif idClasse == 2 %} <!-- Entrainement personnel -->
                {% elseif idClasse == 3 %} <!-- Evenement divers -->
                    <div class="form-group">
                        <div class="row">
                            {{ form_label(form.descrDivers, "Description : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(form.descrDivers) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.descrDivers, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                {% elseif idClasse == 4 %} <!-- Sortie découverte -->
                    <div class="form-group">
                        <div class="row">
                            <label class='col-sm-3 control-label'>Lieu de rendez-vous :</label>
                            <div class="col-sm-9">
                                <select name='lieu' class="form-control">
                                    {% for monLieu in listeLieuRendezVous %}
                                        <option value='{{monLieu.id}}'>{{monLieu.titre}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                {% elseif idClasse == 5 %} <!-- Course officielle -->
                    <div class="form-group">
                        <div class="row">
                            {{ form_label(form.siteUrl, "Site URL : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(form.siteUrl) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.siteUrl, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                {% else %}
                {% endif %}
    
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Modifier" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

{% javascripts '@SiteTrailBundle/Resources/js/event/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}